@use './variables' as *;

// Mobile font mixins
@mixin page-header-mobile {
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 2.25rem;
}

@mixin secheader-mobile {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.75rem;
}

@mixin subheader-mobile {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
}

@mixin label-buttons-mobile {
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.25rem;
}

@mixin body-large-mobile{
    font-size: 0.938rem;
    font-weight: normal;
    line-height: 1.625rem;
}

@mixin body-medium-mobile{
  font-size: 0.813rem;
  font-weight: normal;
  line-height: 1.25rem;
}

@mixin body-small-mobile{
  font-size: 0.688rem;
  font-weight: normal;
  line-height: 1rem;
}

