$Instock-Black: #13182C;
$White: #FFFFFF;
$Light-Green: #719F1E;
$Green-Leaf: #4A7212;
$Forest-Green: #104210;
$Corn-Silk: #D5CE58;


// Variables for breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Mixins for each breakpoint

// Tablet Mixin
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

// Desktop Mixin
@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}